

{layout 'layouts/mainlayout.latte'}

{block title}My amazing blog{/block}

{block content}
    <h1>Home Page</h1>
	<p>Welcome to my awesome homepage.<br> 
    php is programing language that is used generally by all programers and developers.</p>
{/block}
{block footer}
<p> No Copyright</p>


  <button >get product</button>
{/block}
